* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-image: url(".../images/globus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    opacity: 0.6;
}

.header {
    background-color: black;
    margin-top: auto;
    margin-left: 10px;
    width: 38%;
    border-radius: 20px;
    height: 250px;
    position: fixed;
    display: block;
    z-index: 1000;

    h1 {
        font-family: 'Fredericka the Great', cursive;
        color: rgb(116, 113, 113);
        font-weight: 400;
        margin-left: 20px;
        margin-top: 30px;
    }

    .btn {
        margin-left: 20px;
        margin-top: 20px;
    }

    #country-name {
        margin-left: 20px;
    }
}

main {
    margin: 250px;
    margin-left: 30px;
    display: block;
    position: absolute;
    width: 100%;
    padding: 40px;

    h2 {
        font-family: 'Marmelad', sans-serif;
        color: rgb(212, 204, 204);
        font-weight: 200;
    }

    li {

        font-family: 'Marmelad', sans-serif;
        color: rgb(212, 204, 204);
    }
}

::placeholder {
    color: white;
}
